<div id="<%= dom_id negbinom %>">
  <p>
    <strong>Параметр r:</strong>
    <%= negbinom.rparam %>
  </p>

  <p>
    <strong>Параметр k:</strong>
    <%= negbinom.kparam %>
  </p>

  <p>
    <strong>Параметр p:</strong>
    <%= negbinom.p %>
  </p>

</div>
