<div id="<%= dom_id poisson %>">
  <div class="container">
  <p>
    <strong>Параметр &#955; :</strong>
    <%= poisson.lamdapar %>
  </p>

  <p>
    <strong>Параметр k:</strong>
    <%= poisson.k %>
  </p>

</div>
</div>
